<%# Where you see all the spells to learn %>
<h1>Arcane Academy</h1>


<% spells.forEach(function(spell) { %>
	<% var spellArray = spell.url.split('/'); %>
	<% var index = spellArray[spellArray.length -1]; %>
	<p>
		<a href="/academySpell/<%= index %>">
			 <%= spell.name %> 
		</a>		
	</p>
			


<% }); %>









