<h2>Profile Page</h2>

<p> Hello, <%= currentUser.name %> </p>

<a href="/">Home</a>

||

<a href="/academy">Arcane Academy: Learn New Spells</a>
||
<a href="/characters">View Characters</a>
||
<a href="/characters/new">Create New Character</a>
||
<a href="/grimoires/index">Grimoires</a>

<!--This should house the path to a user's Character Proiles. From there, route to their spell book.-->