/* PROFILE */
/*
font-family: 'Nova Script', cursive;
font-family: 'Seaweed Script', cursive; 
*/

html, body {
	background-color: antiquewhite;
	font-family: 'Amatic SC', cursive;
	color: white;
	background-image: url(/assets/bgdice.jpg); 
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	opacity: 1;
};


.navbar {
	color: maroon;
};

/* CHARACTER */

#char-show {
	background-color: antiquewhite;
};



/* SPELLS */






/* GRIMOIRES */