<%# Where you see your favorite spells %>


<p>This is a test</p>


<div class="grimoire">
<% spell.forEach(function(--?--) { %>
	<p>
		<a href="/--?--/<%= spell.id %>">
			<%= spell.name %>
		</a>
	</p>
<% }); %>
</div>

<a href="/academy">Back to Spells</a>