<h1>Create a New Grimoire</h1>

<form action="/characters/<%= cid %>/grimoires" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" required>
  </div>

	<input type="submit" class="btn btn-primary">
</form>

<a href="/profile">Back to Profile</a>

<%# characters/:id/grimoires  %>