<h1>Create a New Grimoire</h1>

<form action="/grimoires" method="POST">
  <div class="form-group">
    <label for="name">Title</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>


<form action="/grimoires" method="POST">
  <div class="form-group">
    <label for="class">Description</label>
    <input type="text" class="form-control" id="class" name="class" required>
  </div>

	<input type="submit" class="btn btn-primary">
</form>


<%# characters/:id/grimoires  %>