<h2>Edit Character Info</h2>

<form method="POST" action="/characters/<%=character.id%>/?_method=PUT" >
	<label for="name">Name</label>
	<input type="text" name="name" value="<%= character.name %>" />

	<label for="class">Class</label>
	<input type="text" name="class" value="<%= character.class %>" />

	<label for="level">Level</label>
	<input type="number" name="level" value="<%= character.level %>" />

	<input type="submit" value="Update My Character">

</form>