<h1>Characters</h1>


  <% characters.forEach(function(character) { %>
    <div class="well">
      <h2><a href="/characters/<%= character.id %>"> <%= character.name %> </a> </h2>
      
    </div>

  <% }); %>

 





