<h1>Create a New Character</h1>

<form action="/characters" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>


<form action="/characters" method="POST">
  <div class="form-group">
    <label for="class">Class</label>
    <input type="text" class="form-control" id="class" name="class" required>
  </div>


<form action="/characters" method="POST">
  <div class="form-group">
    <label for="level">Level</label>
    <input type="number" class="form-control" id="level" name="level" required>
  </div>

	<input type="submit" class="btn btn-primary">
</form>